nav {
  width: 100%;
  background-color: #dfdfdf;
  padding: 1rem;
  display: flex;
  align-items: center;
}
nav h3 {
  margin: 0;
}
nav a {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid black;
}
select,
input {
  width: 100%;
  display: block;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  margin-block: 1rem;
  background-color: #fff;
}
input[type="checkbox"] {
  width: inherit;
}
label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

button {
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 1rem;
  background-color: #333;
  color: white;
  font-weight: bold;
  margin-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
}

.btn-sm {
  max-width: 600px;
  margin-inline: 1rem;
  box-sizing: border-box;
  min-width: 10rem;
}

.text-left {
  text-align: left;
}

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

.deleteBtn {
  background-color: red;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
}

.logo {
  width: 48px;
}
.links {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap:0.5rem
}
.navLink {
  padding-inline: 0.5rem;
}
.disabled-link {
  pointer-events: none;
}

.mobile-links{
  display: none;
}
.container {
  max-width: 68rem;
  height: 100%;
  margin-inline: auto;
  margin-block-end: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.search-bar-container {
  width: 20rem;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.search-bar-container span {
  cursor: pointer;
}

.search-bar {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding-inline: 0.5rem;
  padding-block-end: 0;
  width: 0;
  transition: all 0.5s ease-in-out;
  outline: none;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: inherit;
}

.searching {
  width: 100%;
  border-bottom: 1px solid #666;
}

.gamelist {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

.location {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.muted {
  font-size: 0.8rem;
  color: rgb(95, 95, 95);
}

.store-container {
  position: relative;
  width: 100%;
  max-width: 28rem;
  padding: 1rem 0 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(214, 214, 214, 0.762);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px #9f9f9f;
}

.store-container .store-avatar{
  margin-right: auto;
  margin-left: 0.5rem;
  border-radius:50% ;
  width: 32px;
  height: 32px;
  margin-block-end: 1rem;
}


.store-container .store-img-container {
  max-width: 600px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 0.5rem 0;
}
.store-container .store-img-container img{
  display: inline-block;
  width: 100px;
}
.store-container span {
  font-size: 0.8rem;
  margin-left: auto;
  padding-right: 0.5rem;
  color: gray;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.bg-container {
  position: relative;
  min-width: 14rem;
  max-width: 14rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(214, 214, 214, 0.762);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px #9f9f9f;
}

.bg-container h3 {
  text-transform: capitalize;
}

.img-container {
  position: relative;
  height: auto;
}
.bg-image {
  max-width: 100%;
  height: 12rem;
  object-fit: contain;
}

.ribbon-banner {
  /* adjust the below to control the shape */
  --d: 10px;
  --g: 16px;
  --c: #666;
  /**/

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-29.29%, -100%) rotate(-45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: 100px;
  transform-origin: bottom right;
  padding: 5px 0 calc(var(--d) + 05px);
  background: linear-gradient(135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) left,
    linear-gradient(-135deg, transparent var(--g), var(--c) calc(var(--g) - 0.3px)) right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d)),
    0 100%
  );
  cursor: pointer;
  z-index: 1;
}

.bg-info {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
  z-index: 1;
}

.tags {
  width: 100%;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.25rem;
  color: white;
}

.tag {
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-shadow: 1px 1px #666;
  font-weight: bold;
}

.model {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(49, 49, 49, 0.5);
}

.green {
  --c: green;
}

.red {
  --c: red;
}

.yellow {
  --c: rgb(248, 178, 49);
}

.add-game-icon {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  top: 6rem;
  right: 3rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loader {
  display: block;
  background-image: url("/images/loader100px.svg");
  background-position: center;
  width: 7rem;
  height: 1.5rem;
  margin-inline: auto;
}

@media only screen and (max-width: 800px) {
  nav .links{
    display: none;
  }

  nav .mobile-links{
    display: block;
    margin-left: auto;
    position: relative;
  }
  .mobile-menu{
    position: absolute;
    width: 200px;
    height: 0;
    background: #f2f2f2;
    right: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  .open-menu{
    height: 130px;
    background: #f2f2f2;
    
  }
  .mobile-menu a{
    display: flex;
    align-items: center;
    border-bottom:1px solid ;
    padding: 1rem ;
  }
  .gamelist {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column;
    overflow-x: auto;
    justify-content: flex-start;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
  }

  .gamelist::-webkit-scrollbar {
    display: none;
  }

  .gamelist > * {
    scroll-snap-align: start;
  }
}
