@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2, h3{
  margin-block-end: 1rem;
}

a {
  font-weight: 500;
  color: #333;
  text-decoration: inherit;
}
a:hover {
  color: rgb(120, 120, 120);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  margin-inline: auto;
  background: url("/images/bg-white.svg") ;
  
}
